.allStats {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.statGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.smaller {
  color: #555;
  font-size: medium;
  font-weight: 500;
}

.smaller:hover {
  cursor: default;
  color: black;
  transition: all ease 0.15s;
}